/BlingBling.xcodeproj/mc.perspectivev3
/BlingBling.xcodeproj/mc.pbxuser
/Mac/BlingBling.xcodeproj/mc.perspectivev3
/Mac/BlingBling.xcodeproj/mc.pbxuser
/Plugin/BlingPlugin.xcodeproj/mc.perspectivev3
/Plugin/BlingPlugin.xcodeproj/mc.pbxuser